<nz-header nzTheme="light">
  <div class="">
    <div class="user" style=" clear: both;">
      <nz-avatar
        style="cursor: pointer;"
        nzIcon="user"
        [nzSize]="46"
        nz-popover
        nz-popover
        [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="bottom"
        nzPopoverTrigger="click"
      />
      <ng-template #contentTemplate>
        <div (click)="logout()" style="cursor: pointer;display: flex;align-items: center;padding: 10px 8px;">
          <span nz-icon nzType="logout" nzTheme="outline" style="color: red;padding-right: 15px"></span>
          <span>Logout</span>
        </div>
        <div (click)="logout()" style="cursor: pointer;display: flex;align-items: center;padding: 10px 8px;">
          <span nz-icon nzType="logout" nzTheme="outline" style="color: red;padding-right: 15px"></span>
          <span>Logout</span>
        </div>
        <div (click)="logout()" style="cursor: pointer;display: flex;align-items: center;padding: 10px 8px;">
          <span nz-icon nzType="logout" nzTheme="outline" style="color: red;padding-right: 15px"></span>
          <span>Logout</span>
        </div>
        <div (click)="logout()" style="cursor: pointer;display: flex;align-items: center;padding: 10px 8px;">
          <span nz-icon nzType="logout" nzTheme="outline" style="color: red;padding-right: 15px"></span>
          <span>Logout</span>
        </div>
        <div (click)="logout()" style="cursor: pointer;display: flex;align-items: center;padding: 10px 8px;">
          <span nz-icon nzType="logout" nzTheme="outline" style="color: red;padding-right: 15px"></span>
          <span>Logout</span>
        </div>
        <div>
          <button (click)="changeLanguage('en')">English</button>
          <button (click)="changeLanguage('vi')">Vietnamese</button>
        </div>
      </ng-template>
      <span style="margin-left: 10px; font-weight: 500;">Vũ Đức Hải</span>
    </div>
  </div>
</nz-header>
