<div class="background-login">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" formControlName="username" />

    <label for="password">Password</label>
    <input type="password" placeholder="Password" formControlName="password" />
    <span >
      <button style="color: black;" type="submit">Log In</button>
    </span>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i> Google</div>
      <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
    </div>
  </form>
</div>
