nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 26px 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  border-radius: 10px;
  margin-right: 15px;
  padding: 24px;
  background: #fff;
  min-height: 763px;
}

.ant-layout-content {
  margin: 0px 0px 16px 16px;
}
