<div class="logo-sidebar" [routerLink]="['./']">
  <img src="../../../../assets/images/logo-angular.svg" alt="">
  <span>Angular Admin</span>
</div>
<div id="scrollbar-color" [ngClass]="isScrollable? 'scrollbar' : 'scrollbar-none'">
  <ul nz-menu nzTheme="dark" nzMode="inline" nzCollapsible="true">
    @for (item of listMenu; track $index) {
    @if(item.menuChild?.length){
    <li nz-submenu nzTitle="{{item.name}}" nzIcon="{{item.icon}}">
      @if(item.menuChild){
      <ul>
        @for (child of item.menuChild; track $index) {
        <li nz-menu-item [routerLink]="child.rootPath">{{child.name}}</li>
        }
      </ul>
      }
    </li>
    } @else {
    <li nz-menu-item>
      <span nz-icon nzType={{item.icon}}></span>
      <span>{{item.name}}</span>
    </li>
    }
    }
  </ul>

</div>
