<p class="mb-8" style="color: red">products works!12312321321</p>
<button nz-button nzType="primary" nz-popover nzPopoverTitle="Title" [(nzPopoverVisible)]="visible"
  (nzPopoverVisibleChange)="change($event)" nzPopoverTrigger="click" [nzPopoverContent]="contentTemplate">
  Click me
</button>
<ng-template #contentTemplate>
  <a (click)="clickMe()">Close</a>
</ng-template>
<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
  </ng-container>
</nz-modal>

{{ "vietnamese" | translate }}
